/* главна резолюция: 1216x684 - мега яка */

#container {
    width:1216px;
    height:684px;
    position:absolute;
    left:50%;
    top:50%;
    margin:-342 0 0 -608px;
    background-color: #ccc;
}

.front {
    z-index: 1;
}

.back {
    z-index: 0;
}

.image_stack {
    position: relative;
}

.stacked {
    position: absolute;
    top: 0px;
    left: 0px;
}

.choice_text {
    width: 200px;
    height: 20px;
}

.encounter_text {
    height: 120px;
    width: 650px;

    float: right;

    border-radius: 6px;
    border-style: solid;
    border-color: #251e0d;

    background-size: 101% 100%;
    background-repeat: no-repeat;

    font-size: 21px;
    line-height: 1.33;
    padding: 15px 16px;
    color: #333333;

    font-family: 'Exo 2', sans-serif;

    -moz-user-select: none;
    background-image: url('../img/encounters/lbl2.png');
    cursor: auto;
    display: block;
    font-weight: 400;
    margin-bottom: 0;
    text-align: left;
    vertical-align: middle;
}

.choice_text {
    min-height: 75px;

    max-height: 200px;
    max-width: 240px;

    float: right;

    border-radius: 6px;
    border-style: solid;
    border-color: #251e0d;

    font-size: 16px;
    line-height: 1.33;
    padding: 12px 16px;
    color: #333333;

    font-family: 'Exo 2', sans-serif;

    background-image: url('../img/encounters/txt.png');
    cursor: auto;
    display: block;
    font-weight: 400;
    margin-bottom: 0;
    text-align: left;
    vertical-align: middle;
}

.hover_show {
    opacity: 0;
}

.hover_show:hover {
    opacity: 1;
}
