/* главна резолюция: 1216x684 - мега яка */

#container {
    width:1216px;
    height:684px;
    position:absolute;
    left:50%;
    top:50%;
    margin:-342 0 0 -608px;
    background-color: #ccc;
}

.front {
    z-index: 1;
}

.back {
    z-index: 0;
}

.image_stack {
    position: relative;
}

.stacked {
    position: absolute;
    top: 0px;
    left: 0px;
}

.encounter_text {
    width: 200px;
    height: 20px;
}

.choice_text {
    width: 200px;
    height: 20px;
}

